.background {
  background-color: #0f172a;
  height: 100vh;
}
.heading {
  font-size: 40px;
  color: #f8fafc;
  font-family: roboto;
  text-align: center;
  padding: 10px;
}
.img {
  text-align: center;
  width: 150px;
  padding: 10px;
  color: white;
}
